:root{
	--background-color: #D5DED3;
	--h1-color: #454445;
	--border-color: #0A1D29;
	--input-color: #68767F;
	--input-checked-color: #40838F;
}


body{
	background-color: var(--background-color);
	margin: 0;
}
h1{
	margin: 0;
	color: var(--h1-color);
}
label{
	display: block;
}

#container{
	max-width: 600px;
	margin: auto;

}

.content{
	background-color: #fff;
	margin-top: 50px;
	margin-bottom: 25px;
	padding: 15px 35px 20px 35px;
	box-shadow: 0 5px 20px rgba(69, 68, 69, 0.1);	
}
.content:first-child{
	border-top: 10px solid var(--border-color);
}

.form-desc{
	font-size: 13px;
}
input{
	padding-top: 10px;
}
.form-title{
	display: block;
	font-size: 20px;
	margin-top: 25px;
}

.form-container{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 18px;
}
